<!DOCTYPE HTML>

<html>
<head>
  <title>Auto Sale</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body class="left-sidebar">
<div id="page-wrapper">

  <!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
        <div class="4u 12u$(medium)">
          <div id="sidebar">

            <!-- Sidebar -->
            <section>
              <h3>Variety of cars to choose from</h3>
              <p>There is a variety of cars to choose and we sell also used ones depending on your demand.
              We could provide you with all the details corresponding the buying process and also
              help you choose the best car that suits your demands.</p>
              <footer>
                <a href="#" class="button icon">Browse for more info !</a>
              </footer>
            </section>

            <section>
              <h3>Our Best Selling Cars Of The Year !</h3>
              <ul class="style2">
                <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
                <li><a href="#">Ornare in hendrerit in lectus</a></li>
                <li><a href="#">Semper mod quis eget mi dolore</a></li>
                <li><a href="#">Quam turpis feugiat sit dolor</a></li>
                <li><a href="#">Amet ornare in hendrerit in lectus</a></li>
                <li><a href="#">Semper mod quisturpis nisi</a></li>
              </ul>
            </section>

          </div>
        </div>
        <div class="8u 12u$(medium) important(medium)">
          <div id="content">

            <!-- Content -->
            <article>

              <h2>Auto Sale Corporation LCC.</h2>

              <p>Auto Sale Corporation is the leader in the cars, minivans, 4 wheel drive, and sport cars as well<br>
              Dealer in the United States Of America. We Provide Quality, Warranty, and an outstanding service.
              The main goal is to joy our happy customers.</p>

              <h3></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus
                justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis,
                ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet
                vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
                Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
                rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
                Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi.
                Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum commodo luctus.</p>

              <p>Phasellus odio risus, faucibus et viverra vitae, eleifend ac purus. Praesent mattis, enim
                quis hendrerit porttitor, sapien tortor viverra magna, sit amet rhoncus nisl lacus nec arcu.
                Suspendisse laoreet metus ut metus imperdiet interdum aliquam justo tincidunt. Mauris dolor urna,
                fringilla vel malesuada ac, dignissim eu mi. Praesent mollis massa ac nulla pretium pretium.
                Maecenas tortor mauris, consectetur pellentesque dapibus eget, tincidunt vitae arcu.
                Vestibulum purus augue, tincidunt sit amet iaculis id, porta eu purus.</p>

            </article>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->



</body>
</html>
