<div id="header-wrapper">
  <header id="header" class="container">

    <!-- Logo -->
    <div id="logo">
      <h1><a routerLink="home" routerLinkActive="active">Auto Sale</a></h1>
      <span>by Simo Yassine</span>
    </div>


    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li class="current"><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="browse" routerLinkActive="active">Browse</a></li>
        <li><a routerLink="about" routerLinkActive="active">About</a></li>
        <li><a routerLink="contact" routerLinkActive="active">Contact Us</a></li>
        <li><a routerLink="purchase" routerLinkActive="active">Purchase</a></li>
      </ul>
    </nav>

  </header>
</div>
