<router-outlet></router-outlet>
<!DOCTYPE HTML>

<html>
    <head>
      <title>Auto Sale</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />


</head>
<body class="homepage">
<div id="page-wrapper">



  <!-- Banner -->
  <div id="banner-wrapper">
    <div id="banner" class="box container">
      <div class="row">
        <div class="7u 12u(medium)">
          <h2>Welcome To<br> Auto Sale !</h2>
          <p>The Best Car Dealership In The United States.</p>
        </div>
        <div class="5u 12u(medium)">
          <ul>
            <li><a href="#" class="button big">Explore Now !</a></li>
            <li><a routerLink="about" routerLinkActive="active" class="button alt big icon">More info</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Features -->
  <div id="features-wrapper">
    <div class="container">
      <div class="row">
        <div class="4u 12u(medium)">

          <!-- Box -->
          <section class="box feature">
            <a  class="image featured"><img src="../images/pic01.jpg" alt="" /></a>
            <div class="inner">
              <header>
                <h2>Our Best Selling Car</h2>
                <p>Ford Focus 2016</p>
              </header>
              <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
            </div>
          </section>

        </div>
        <div class="4u 12u(medium)">

          <!-- Box -->
          <section class="box feature">
            <a  class="image featured"><img src="../images/pic02.jpg" alt="" /></a>
            <div class="inner">
              <header>
                <h2>A Happy Customer</h2>
                <p>Issam Yassine</p>
              </header>
              <p>Personally, Auto Sale was a best choice, i've bought 2 Cars and they were incredibly awesome.</p>
            </div>
          </section>

        </div>
        <div class="4u 12u(medium)">

          <!-- Box -->
          <section class="box feature">
            <a  class="image featured"><img src="../images/pic03.jpg" alt="" /></a>
            <div class="inner">
              <header>
                <h2>Join our weekly Lottery</h2>
                <p>The Lottery Gamer.</p>
              </header>
              <p>Join our weekly Lottery to win a great car of your choice.</p>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div id="main-wrapper">
    <div class="container">
      <div class="row 200%">
        <div class="4u 12u(medium)">

          <!-- Sidebar -->
          <div id="sidebar">
            <section class="widget thumbnails">
              <h3>We Are The Best In The Business</h3>
              <div class="grid">
                <div class="row 50%">
                  <div class="6u"><a href="#" class="image fit"><img src="../images/pic04.jpg" alt="" /></a></div>
                  <div class="6u"><a href="#" class="image fit"><img src="../images/pic05.jpg" alt="" /></a></div>
                  <div class="6u"><a href="#" class="image fit"><img src="../images/pic06.jpg" alt="" /></a></div>
                  <div class="6u"><a href="#" class="image fit"><img src="../images/pic07.jpg" alt="" /></a></div>
                </div>
              </div>
              <a routerLink="about" routerLinkActive="active" class="button icon">More</a>
            </section>
          </div>

        </div>
        <div class="8u 12u(medium) important(medium)">

          <!-- Content -->
          <div id="content">
            <section class="last">
              <h2>So what's this all about?</h2>
              <p>This is <strong>Auto Sale</strong>, is the leader in the cars, minivans, 4 wheel drive, and sport cars as well
                Dealer in the United States Of America. We Provide Quality, Warranty, and an outstanding service. The main goal is to joy our happy customers.
                </p>
              <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>

            </section>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>

<!-- Scripts -->




</body>
</html>
